@charset "UTF-8";
/* 공통 */
/* noto-sans-kr-100 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 100; src: local(""), url("../fonts/noto-sans-kr-v25-latin_korean-100.woff2") format("woff2"), url("../fonts/noto-sans-kr-v25-latin_korean-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-regular - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: local(""), url("../fonts/noto-sans-kr-v25-latin_korean-regular.woff2") format("woff2"), url("../fonts/noto-sans-kr-v25-latin_korean-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-300 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: local(""), url("../fonts/noto-sans-kr-v25-latin_korean-300.woff2") format("woff2"), url("../fonts/noto-sans-kr-v25-latin_korean-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-500 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: local(""), url("../fonts/noto-sans-kr-v25-latin_korean-500.woff2") format("woff2"), url("../fonts/noto-sans-kr-v25-latin_korean-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-900 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 900; src: local(""), url("../fonts/noto-sans-kr-v25-latin_korean-900.woff2") format("woff2"), url("../fonts/noto-sans-kr-v25-latin_korean-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-700 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: local(""), url("../fonts/noto-sans-kr-v25-latin_korean-700.woff2") format("woff2"), url("../fonts/noto-sans-kr-v25-latin_korean-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face { font-family: 'Calibri'; font-style: normal; src: local(""), url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-style: normal; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; }

html { height: 100%; overflow-y: auto; }

body { margin-top: 0 !important; min-width: 320px; color: #212121; line-height: 1; font-size: 16px; font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'HelveticaNeue', 'Arial', 'Malgun Gothic', dotum, sans-serif; word-break: keep-all; word-wrap: break-word; font-weight: normal; min-height: 100%; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption { border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; }

a { color: #212121; text-decoration: none; cursor: pointer; }

a:hover { color: #212121; }

a:active { color: #212121; }

button { border: 0 none; background: none; padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

button, input, select, textarea { font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'HelveticaNeue', 'Arial', 'Malgun Gothic', dotum, sans-serif; vertical-align: middle; }

select { -webkit-border-radius: 0; }

select { appearance: none; -moz-appearance: none; -webkit-appearance: none; background-color: #fff; }

select::-ms-expand { display: none; }

input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="button"], input[type="submit"], textarea { -webkit-appearance: none; -moz-appearance: none; }

a[href^="tel"] { color: inherit; /* Inherit text color of parent element. */ text-decoration: none; /* Remove underline. */ /* Additional css `propery: value;` pairs here */ }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; overflow: visible; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { width: 16px; height: 16px; line-height: 16px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; }

input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input[type="check"] { border: 1px solid #424242; border-radius: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff !important; }

input[type="radio"] { border: 1px solid #424242; border-radius: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff !important; }

input::-webkit-input-placeholder { color: rgba(200, 200, 200, 0.87); }

input:-moz-input-placeholder { color: rgba(200, 200, 200, 0.87); }

input::-moz-input-placeholder { color: rgba(200, 200, 200, 0.87); }

input:-ms-input-placeholder { color: rgba(200, 200, 200, 0.87); }

textarea { overflow: auto; resize: none; }

textarea::-webkit-input-placeholder { color: rgba(200, 200, 200, 0.87); }

textarea:-moz-placeholder { color: rgba(200, 200, 200, 0.87); }

textarea::-moz-placeholder { color: rgba(200, 200, 200, 0.87); }

textarea:-ms-input-placeholder { color: rgba(200, 200, 200, 0.87); }

/* skip_nav */
#skip_nav { width: 100%; height: 0; text-align: center; overflow: hidden; }

#skip_nav a { color: #fff; font-size: 16px; line-height: 30px; font-weight: 800; float: left; }

#skip_nav a:focus, #skip_nav a:hover, #skip_nav a:active { position: absolute; top: 0; left: 0; width: 100%; height: 30px; text-decoration: underline; background-color: #000; overflow: visible; z-index: 9999; }

/* 컬러 */
.fc_key { color: #62d974; }

.fc_blue { color: #1e90ff; }

.fc_red { color: #f00; }

.fc_lblue { color: #46b8ff; }

.fc_orange { color: #f9b343; }

.fc_yellow { color: #ff0; }

.blind { border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; }

.td_u { text-decoration: underline; }

.cursor_default { cursor: default; }

.cursor_pointer { cursor: pointer; }

.taC { text-align: center; }

.taR { text-align: right; }

.taL { text-align: left; }

.fwB { font-weight: bold; }

.mt0 { margin-top: 0; }

.mb0 { margin-bottom: 0; }

.mr0 { margin-right: 0; }

.ml0 { margin-left: 0; }

.pt0 { padding-top: 0 !important; }

.pb0 { padding-bottom: 0 !important; }

.pl0 { padding-left: 0 !important; }

.pr0 { padding-right: 0 !important; }

.no_drag { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.container { max-width: none; width: 100%; padding: 0; padding-bottom: 40px; min-height: 100vh; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container.sub { padding-top: 70px; }

.container.bg_grey { background-color: rgba(0, 0, 0, 0.03); }

.inner { padding: 0 18px; }

.sub_inner { padding: 0 20px; padding-top: 20px; }

.header { position: fixed; top: 0; left: 0; width: 100%; height: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; background-color: #fff; }

.header .btn_back { width: 40px; height: 40px; background: url(../images/btn_back.svg) no-repeat center center; }

.header .btn_nav { width: 50px; height: 50px; background: url(../images/ico_menu.svg) no-repeat center center; }

.header .car_num { font-size: 32px; font-weight: bold; letter-spacing: -.5px; padding: 0 13px; }

.header .btn_close { width: 50px; height: 50px; background: url(../images/close_pop.svg) no-repeat center center; }

.header .btn_set { padding-right: 15px; }

.header.ty_sub { border-bottom: 1px solid #c9cac9; }

.tab_area { background-color: #d9d9d9; overflow-x: auto; }

.tab_area .tab_list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.tab_area .tab_list_item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.tab_area .tab_list_link { height: 49px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; font-size: 18px; padding: 0 10px; }

.input_set + .input_set { margin-top: 15px; }

.input_set .input_tit { font-size: 18px; line-height: 1.4; margin-bottom: 10px; font-weight: 500; }

.input_set .input_txt { width: 100%; height: 46px; border-radius: 6px; border: 1px solid #ccc; font-size: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; outline: #f00 1px; -webkit-transition: border-color .1s ease-in-out; transition: border-color .1s ease-in-out; }

.input_set .input_txt:focus { outline: none; border-color: #62d974; }

.input_list_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: content-box; box-sizing: content-box; border-bottom: 1px solid #c9cac9; padding: 10px 0; font-size: 16px; }

.input_list_item:last-child { border-bottom: none; }

.input_list_tit { font-size: 16px; line-height: 40px; -ms-flex-negative: 0; flex-shrink: 0; width: 90px; color: rgba(151, 151, 151, 0.87); height: 40px; font-weight: normal; }

.input_list_cont { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; line-height: 40px; }

.input_list .input_txt { display: block; height: 40px; border: none; padding: 0; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

.input_list .input_txt:-moz-read-only { pointer-events: none; }

.input_list .input_txt:read-only { pointer-events: none; }

.check_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.check_list .check_list_item { -ms-flex-negative: 0; flex-shrink: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; white-space: nowrap; line-height: 40px; font-size: 15px; margin-right: 15px; }

.check_list .check_list_item .check_tit { font-weight: normal; }

.check_list .check_list_item .input_hidden { position: absolute; z-index: -999; opacity: 0; visibility: hidden; }

.check_list .check_list_item .input_hidden:checked ~ .input_custom.ty_radio { background-color: #62d974; border-color: #62d974; }

.check_list .check_list_item .input_hidden:checked ~ .input_custom.ty_radio::after { border-color: #62d974; }

.check_list .check_list_item .input_hidden:disabled ~ .check_tit { opacity: 0.5; }

.check_list .check_list_item .input_hidden:disabled ~ .input_custom.ty_radio { background-color: #ddd; }

.check_list .check_list_item .input_hidden:disabled ~ .input_custom.ty_radio::after { background-color: #aaa; }

.check_list .check_list_item .input_custom { margin-right: 5px; }

.check_list .check_list_item .input_custom.ty_radio { position: relative; width: 16px; height: 16px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 50%; }

.check_list .check_list_item .input_custom.ty_radio::after { content: ''; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 8px; height: 8px; border-radius: 50%; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; }

.btn_area.ty_bot { margin-top: 20px; }

.btn_ty1 { height: 50px; width: 100%; border-radius: 25px; line-height: 50px; background-color: #62d974; text-align: center; color: #fff; font-size: 16px; font-weight: 500; -webkit-box-shadow: 0 4px 6px 0 rgba(98, 217, 116, 0.1); box-shadow: 0 4px 6px 0 rgba(98, 217, 116, 0.1); }

.btn_ty2 { height: 50px; width: 100%; border-radius: 25px; line-height: 48px; border: 1px solid #c8c8c8; background-color: #fff; color: #62d974; text-align: center; font-size: 16px; font-weight: 500; }

.btn_ty_s1 { display: inline-block; vertical-align: top; min-width: 106px; padding: 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; height: 32px; line-height: 32px; border-radius: 5px; background-color: #62d974; text-align: center; color: #fff; font-size: 14px; font-weight: 500; }

.btn_ty_s2 { display: inline-block; vertical-align: top; min-width: 106px; padding: 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; height: 32px; line-height: 30px; border: 1px solid #62d974; border-radius: 16px; background-color: #fff; text-align: center; color: #62d974; font-size: 14px; font-weight: 500; }

.btn_ty_s3 { display: inline-block; vertical-align: top; min-width: 60px; padding: 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; height: 32px; line-height: 32px; border-radius: 5px; background-color: #62d974; text-align: center; color: #fff; font-size: 14px; font-weight: 500; }

.btn_ty_s4 { display: inline-block; vertical-align: top; line-height: 32px; height: 32px; padding: 0 15px; border: none; background-color: #fff; }

.layer_pop.ty_bottom { visibility: hidden; z-index: -999; opacity: 0; -webkit-transition: all 0s .4s ease-in-out; transition: all 0s .4s ease-in-out; position: fixed; bottom: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }

.layer_pop.ty_bottom.on { visibility: visible; z-index: 999; opacity: 1; -webkit-transition: all 0s 0s ease-in-out; transition: all 0s 0s ease-in-out; }

.layer_pop.ty_bottom .layer_pop_inner { position: absolute; bottom: -80%; left: 0; height: 80%; width: 100%; background-color: #fff; overflow-y: auto; padding: 20px 20px 40px; border-radius: 20px 20px 0 0; -webkit-transition: bottom .4s ease-in-out; transition: bottom .4s ease-in-out; }

.layer_pop.ty_bottom.on .layer_pop_inner { bottom: 0; }

.layer_pop_top { margin-bottom: 20px; position: relative; }

.layer_pop_tit { font-size: 18px; line-height: 1.4; }

.layer_pop.popup_slider { display: none; position: fixed; bottom: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }

.layer_pop.popup_slider.on { display: block; }

.layer_pop.popup_slider .layer_pop_inner { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.layer_pop.popup_slider .layer_pop_slider { width: 100%; background-color: #fff; position: relative; }

.layer_pop.popup_slider .layer_pop_slider .img_box { padding-top: 100%; position: relative; background-color: #fff; }

.layer_pop.popup_slider .layer_pop_slider .img_box_inner { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.layer_pop.popup_slider .layer_pop_slider img { max-width: 100%; max-height: 100%; -o-object-fit: contain; object-fit: contain; }

.layer_pop.popup_slider .layer_pop_slider_nav { text-align: center; line-height: 0; position: absolute; left: 0; bottom: 10px; width: 100%; z-index: 10; }

.layer_pop.popup_slider .layer_pop_slider_nav .swiper-pagination-bullet-active { background-color: #62d974; }

.layer_pop.popup_slider .close_popup { right: 15px; top: 15px; z-index: 10; }

.layer_pop .close_popup { position: absolute; right: 0; top: 3px; width: 20px; height: 20px; background: url(../images/close_pop.svg) no-repeat center center; }

.layer_pop_btns { margin-top: 20px; }

.lnb_dim { position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.4); visibility: hidden; opacity: 0; z-index: 999; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }

.lnb_cont { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; padding: 60px 20px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; position: fixed; width: 80%; height: 100%; left: -80%; top: 0; background-color: #fff; z-index: 1000; -webkit-transition: left .4s ease-in-out; transition: left .4s ease-in-out; }

.lnb .close_lnb { position: absolute; right: 20px; top: 20px; background-image: url(../images/close_pop.svg); width: 20px; height: 20px; background-repeat: no-repeat; background-position: center center; }

.lnb.on .lnb_dim { opacity: 1; z-index: 999; visibility: visible; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }

.lnb.on .lnb_cont { left: 0; }

.lnb .my_car { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; min-height: 0; padding-bottom: 20px; }

.lnb .my_car_tit { display: block; font-size: 18px; line-height: 25px; -ms-flex-negative: 0; flex-shrink: 0; margin-bottom: 10px; }

.lnb .my_car_list { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow-y: auto; min-height: 0; margin: 0 -20px; padding: 0 20px; padding-bottom: 10px; padding-top: 10px; }

.lnb .my_car_item + .my_car_item { margin-top: 20px; }

.lnb .my_car_box { position: relative; text-align: center; border-radius: 10px; background-color: #fff; border: 1px solid #ccc; -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); padding: 6px; }

.lnb .my_car_box .btn_del { position: absolute; width: 28px; height: 28px; background-image: url(../images/del.svg); background-repeat: no-repeat; background-color: #fff; background-position: center center; border-radius: 50%; right: -8px; top: -8px; z-index: 10; }

.lnb .my_car_box_inner { border-radius: 10px; border: 3px solid #000; position: relative; padding: 18px; }

.lnb .my_car_box_inner .dot { position: absolute; width: 7px; height: 7px; border-radius: 50%; background-color: #fff; -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); }

.lnb .my_car_box_inner .dot.top_left { left: 8px; top: 8px; }

.lnb .my_car_box_inner .dot.top_right { right: 8px; top: 8px; }

.lnb .my_car_box_inner .dot.bot_left { left: 8px; bottom: 8px; }

.lnb .my_car_box_inner .dot.bot_right { right: 8px; bottom: 8px; }

.lnb .my_car_box_inner .car_name { font-size: 16px; line-height: 1.4; letter-spacing: -.4px; }

.lnb .my_car_box_inner .car_num { display: block; margin-top: 5px; font-size: 32px; line-height: 1.2; letter-spacing: -.5px; }

.lnb_menu { -ms-flex-negative: 0; flex-shrink: 0; }

.lnb_menu_item { border-top: 1px solid #c9cac9; }

.lnb_menu_link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-right: 20px; height: 59px; font-size: 16px; background: url(../images/arrow_right.svg) no-repeat right center; }

.list_info { padding: 10px 0; }

.list_info_item { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 0; font-size: 16px; line-height: 1.4; }

.list_info_tit { -ms-flex-negative: 0; flex-shrink: 0; width: 90px; font-weight: normal; color: rgba(151, 151, 151, 0.87); }

.list_info_cont { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.jc_list_top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; }

.jc_list_top .desc { font-size: 14px; color: #62d2d9; line-height: 1.4; }

.jc_list_item { border-bottom: 1px solid #c9cac9; }

.jc_list_item.on .jc_list_view { display: block; }

.jc_list_item.on .jc_list_tit { font-weight: 500; }

.jc_list.ty_notice .jc_list_link { display: block; padding: 14px 0; }

.jc_list.ty_faq .jc_list_link { display: block; padding: 18px 0; }

.jc_list.ty_faq .jc_list_view { padding: 20px; }

.jc_list.ty_qna .jc_list_link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 18px 0; }

.jc_list.ty_qna .jc_list_num { font-size: 12px; color: #979797; -ms-flex-negative: 0; flex-shrink: 0; width: 40px; }

.jc_list.ty_qna .jc_list_name { font-size: 12px; color: #979797; -ms-flex-negative: 0; flex-shrink: 0; width: 90px; text-align: right; }

.jc_list.ty_qna .jc_list_tit { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.jc_list_tit { display: block; font-size: 16px; line-height: 1.4; font-weight: normal; }

.jc_list_tit .ico_q { display: inline-block; color: #62d2d9; }

.jc_list_date { display: block; font-size: 12px; line-height: 1.2; margin-top: 10px; color: #979797; }

.jc_list_view { display: none; padding: 14px 0; border-top: 1px solid #c9cac9; font-size: 14px; line-height: 1.4; }

.jc_list_view .ico_a { display: inline-block; color: #e19b2b; }

.jc_write_tit { display: block; width: 100%; border: none; border-bottom: 1px solid #c9cac9; height: 59px; font-size: 16px; outline: none; }

.jc_write_ta { border: none; padding: 20px 0; width: 100%; height: 300px; outline: none; margin-top: 10px; }

/* // 공통 */
.intro_cont { padding-top: 76%; }

.intro_cont_img { position: absolute; left: 0; top: 0; width: 100%; }

.intro_cont_img img { width: 100%; }

.intro_cont_img img.img_car { z-index: 10; left: 0; top: 0; position: absolute; }

.intro_cont .tit_box { font-weight: normal; margin-bottom: 30px; }

.intro_cont .tit_box .tit_e { display: block; font-size: 32px; line-height: 1; letter-spacing: 0.25px; color: #666; font-family: 'Calibri'; }

.intro_cont .tit_box .tit_k { display: block; font-size: 24px; line-height: 1.25; letter-spacing: 1.25px; margin-top: 10px; font-weight: normal; }

.status_top { padding: 10px 0 20px; margin-top: 20px; background-color: #fff; }

.status_top .car_num { display: block; font-size: 32px; line-height: 1.4; letter-spacing: -.5px; }

.status_top .btn_ty_s1 { margin-top: 10px; }

.list_status { padding: 10px; }

.list_status_item + .list_status_item { margin-top: 10px; }

.list_status .status_info { padding: 20px 15px; background-color: #fff; -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); border-radius: 12px; }

.list_status .status_info_top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.list_status .status_info_top .img_box { width: 106px; height: 106px; -ms-flex-negative: 0; flex-shrink: 0; border: 1px solid #c8c8c8; border-radius: 12px; overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 20px; }

.list_status .status_info_top .img_box_inner { display: block; width: 100%; height: 100%; }

.list_status .status_info_top .img_box img { width: 100%; height: 100%; -o-object-fit: contain; object-fit: contain; }

.list_status .status_info_top .txt_box { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.list_status .status_info .status_info_btns { margin-top: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.list_status .status_info .status_info_btns .btn_item { margin-left: 10px; }

.list_status .status_info .list_info { padding: 0; }

.list_status .status_info .list_info_item { padding: 0; }

.list_status .status_info .list_info_item + .list_info_item { margin-top: 19px; }
